a {
    color: green;
}
.grid-container {
    display: grid;
    grid-template-columns: auto;
    background-color: lightcoral;
    }
main {
    padding: 10px;
    background-color: rgb(255, 255, 255);
}
nav {padding-top: auto;
    padding-bottom: auto;
    border-bottom: 100px black;
    background-color: aquamarine;
}
div {
    display: grid;
    grid-template-columns: auto auto;
    padding-block: 10px;
    margin: 10px;
    box-shadow: 60px black;
}
h1 {
    color: green;
}
h2 {
    color:limegreen;
}
footer {padding-top: 24px;
        padding-bottom: 24px;
        padding-left:650px;
        padding-right: 40px;
        color: blue;
        background-color: thistle;
}
img {
    height: 250px;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10%;
}
